* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 90%;      
    height: 30px;
    padding: 10px;
    margin: auto;
}

nav #logo {
    margin-left: 20px;
    font-size: 20px;
}

#nav-links-button {
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-links {
    width: 50%;
    position: relative;
    left: 35px;
}

#nav-links ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

#nav-links ul a {
    text-decoration: none;
    color: black;
}

#nav-links-button button {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    /* border: .5px solid black; */
    background: rgba(140, 219, 13, 0.918);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
}

#nav-links-button button #great {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black;
    color: rgba(150, 235, 15, 0.966);
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-links-button #social-links {
    width: 150px;
    display: flex;
    justify-content: space-around;
}

#nav-links-button #social-links a {
    color: black;
}

header {
    width: 60%;
    border-radius: 30px;
    padding: 20px;
    height: 300px;
    background: rgba(150, 235, 15, 0.966);
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header #shirt-design {
    font-size: 50px;
    margin: 15px;
}

header button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 50px;
    background: black;
    color: white;
    border: .5px solid white;
}

header a {
    color: black;
    margin: 15px;
}

hr {
    width: 70%;
    margin: auto;
    margin-top: 40px;
}

#features #feat {
    margin: 20px;
    position: relative;
    left:200px;
}

#features ul {
    width: 70%;
    margin: auto;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    color: rgba(150, 235, 15, 0.966);
}

#features ul li {
    display: flex;
}

#features ul li div {
    font-size: 15px;
    margin-left: 5px;
}

#features ul li div p {
    color: gray;
}

#features ul li div .uni {
    color: black;
}

#detail {
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 30px;
    background: black;
    padding: 20px;
    color: white;
}

#detail p {
    margin: 10px;
}

#detail div {
    display: flex;
    justify-content: space-between;
}

#detail div #shirt-img #img {
    margin: auto;
    margin-top: -5px;
    width: 80%;
}

#detail div #shirt-img #img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 30px;
}

#detail div #shirt-img p {
    color: black;
    font-size: 30px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

#detail div #shirt-img .but {
    width: 80%;
    margin: auto;
}

#detail div #shirt-img .but #buy {
    color: black;
    border: .5px solid black;
    border-radius: 30px;
    padding: 10px;
    background: white;
    margin-top: 10px;
    cursor: pointer;
}

#detail div #shirt-img .but #view {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border: .5px solid black;
    background: rgba(140, 219, 13, 0.918);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

#detail div #shirt-img .but #view #gt {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black;
    color: rgba(150, 235, 15, 0.966);
    display: flex;
    justify-content: center;
    align-items: center;
}

#shirt-img, #shirt-detail {
    width: 45%;
    height: auto;
    position: relative;
    display:  flex;
    flex-direction: column;
    border-radius: 20px;
    background: white;
    padding: 15px;
}

#detail div #shirt-detail div {
    display: flex;
    flex-direction: column;
    position: relative;
}

#detail div #shirt-detail div p {
    color: black;
}

#detail div #shirt-detail div #d {
    width: 93%;
    position: absolute;
    left: 10px;
    
}

#detail div #shirt-detail #d-but {
    width: 93%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

#detail div #shirt-detail #d-but button {
    width: 120px;
    padding: 5px;
    border: .5px solid black;
    border-radius: 30px;
    background: white;
}

#detail div #shirt-detail #d-but #more {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(150, 235, 15, 0.966);
}

#detail div #shirt-detail #d-but #d-gt {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black;
    color: rgba(150, 235, 15, 0.966);
    display: flex;
    justify-content: center;
    align-items: center;
}

